/.settings
/.project
/.buildpath
/vendor
.idea
.php_cs.cache
nbproject
composer.lock
docs/html

.phpunit.result.cache
/clover.xml
/coveralls-upload.json
/phpunit.xml
/vendor/
.phpunit.result.cache
.phpcs-cache
